boto3==1.34.50
botocore==1.34.50
contextvars==2.4
Cython==3.0.8
fdk==0.1.68
httptools==0.6.1
immutables==0.20
iniconfig==2.0.0
iso8601==0.1.12
jmespath==1.0.1
packaging==23.2
pbr==6.0.0
pluggy==1.4.0
pytest==8.0.2
pytest-asyncio==0.12.0
python-dateutil==2.8.2
s3transfer==0.10.0
six==1.16.0
urllib3==2.0.7
